<div class="rightImgProject" id="rightImgProject">
  <div class="projectText">
    <div class="projectContent">
      <h3 class="projectTitle">El Pollo Loco</h3>
      <span class="projectSkill">HTML | CSS | JS </span>
      <span class="projectDescription">
        A simple Jump-and-Run game based on an object-oriented approach. Help
        sharkie to find coins and poison bottles to fight against the killer
        whale.
      </span>
      <div class="projectButtons">
        <a href="https://github.com/MaxWirnsberger/ElPolloLoco">GitHub</a>
      </div>
    </div>
  </div>
  <div class="projectImg">
    <img src="./../../../assets/imgs/projects/elpolloloco.png" alt="" />
    <img
      class="arrowProject"
      src="./../../../assets/imgs/projects/rightArrowProject.png"
      alt=""
    />
  </div>
  <h3 class="projectCounter">02/04</h3>
</div>
