<div class="projectContent">
  <div>
    <h2>Portfolio</h2>
    <span>
      Feel free to try out my latest development projects <br />
      and look into their code. .
    </span>
  </div>

  <div class="leftImgProject" id="leftImgProject">
    <div class="projectImg">
      <img src="./../../../assets/imgs/projects/joinPhoto.png" alt="" />
      <img class="arrowProject" src="./../../../assets/imgs/projects/leftArrowProject.png" alt="" />
    </div>
    <div class="projectText">
      <h3 class="projectTitle">Join</h3>
      <span class="projectSkill">HTML | CSS | JS </span>
      <span class="projectDescription">
        Task manager inspired by the Kanban System. Create and organize tasks
        using drag and drop functions, assign users and categories.
      </span>
      <div class="projectButtons">
        <a href="">Live</a>
        <a href="">GitHub</a>
      </div>
    </div>
    <h3 class="projectCounter">01/04</h3>
  </div>
</div>
