<div class="aboutMeContainer">
  <div class="leftSideAboutMe">
    <div>
      <h2>About me</h2>
      <span>
        I am a Front-end developer based in Salzburg, Austria. I enjoy helping
        designers and companies bring their ideas into real life. I am looking
        forward to continuing my developer career with a job in a web developer
        position. <br />
        If you think I’d be a good match for your projects, contact me!
        <div>
          <img src="./../../../assets/imgs/aboutMe/person.png" alt="" />
          <img src="./../../../assets/imgs/aboutMe/arrowAboutMe.png" alt="" />
        </div>
      </span>
    </div>
    <button>Let's Talk</button>
  </div>
  <!-- <div>
    <img src="./../../../assets/imgs/aboutMe/person.png" alt="" />
    <img src="./../../../assets/imgs/aboutMe/arrowAboutMe.png" alt="" />
  </div> -->
</div>

<!-- <div class="arrowSeparator">
    <img src="./../../../assets/imgs/aboutMe/arrowAboutMe.png" alt="">
</div> -->
