<div class="leftImgProject" id="leftImgProject">
  <div class="projectImg">
    <img src="./../../../assets/imgs/projects/pokemax.png" alt="" />
    <img
      class="arrowProject"
      src="./../../../assets/imgs/projects/leftArrowProject.png"
      alt=""
    />
  </div>
  <div class="projectText">
    <h3 class="projectTitle">Pokedex</h3>
    <span class="projectSkill">HTML | CSS | JS | API</span>
    <span class="projectDescription">
      Based on the PokéAPI a simple library that provides and catalogues pokemon
      information.
    </span>
    <div class="projectButtons">
      <a href="">Live</a>
      <a href="">GitHub</a>
    </div>
  </div>
  <h3 class="projectCounter">03/04</h3>
</div>
