.headerMenu {
  width: 100%;
  height: 92px;
  background-color: #fffcf3;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: center;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;

    > a {
      > img {
        height: 60px;
      }
    }
    > div {
      cursor: pointer;
      > img {
        height: 32px;
      }
    }
  }
}

#menuContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fffcf3;
  z-index: 2;
}

.navMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;

  padding-top: 120px;

  > nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    > a {
      font-size: 96px;
      font-weight: 700;
      text-decoration: none;
      color: black;

      &::before {
        content: "";
        position: absolute;
        border-left: 4px solid black;
        border-bottom: 4px solid black;
        width: 30px;
        height: 40px;
        left: -5%;
        transform: translateY(170%);
        transition: 0.25s;
      }

      &:hover::before {
        border-left: 0;
        width: 250px;
        left: 50%;
      }
    }
  }
}

.footerMenu {
  clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 100%);
  background-color: black;
  color: white;

  .footerMenuContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
      max-width: 1440px;
      width: 100%;

      > h2 {
        font-weight: 800;
        font-size: 78px;
      }
    }
  }

  .endOfFooterContent {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;

    .rightSideEndOfFooter {
      display: flex;
      gap: 42px;

      > a {
        transition: 0.25s;
        > img {
          height: 40px;
          width: 40px;
        }
        &:hover {
          transform: translateY(-15px);
        }
      }
    }
  }

  .legalNotice {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 50px;

    > div {
      display: flex;
      justify-content: end;
      max-width: 1440px;
      width: 100%;

      > a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        font-size: 16px;

        &::before {
          content: "";
          position: absolute;
          width: 30px;
          height: 20px;
          transition: 0.25s;
        }

        &:hover::before {
          border-bottom: 1px solid white;
          width: 85px;
          right: 40px;
        }
      }
    }
  }
}
