<div class="headerMenu">
  <nav>
    <a href="#hero">
      <img
        src="./../../../../assets/imgs/hero-banner/logo.png"
        alt="hero_logo"
      />
    </a>
    <div id="burgerImg" (click)="showMenu()">
      <img
        src="./../../../../assets/imgs/navBar/burger.png"
        alt="burger Menu"
      />
    </div>
  </nav>
</div>

<div id="menuContainer" class="display_none">
  <div id="menu" class="navMenu">
    <nav>
      <a (click)="showMenu()" href="#aboutme">About me</a>
      <a (click)="showMenu()" href="#myskills">My skills</a>
      <a (click)="showMenu()" href="#portfolio">Portfolio</a>
    </nav>
  </div>

  <div class="footerMenu">
    <div class="footerMenu">
      <div class="footerMenuContent">
        <div>
          <h2>Say Hi!</h2>
          <div class="endOfFooterContent">
            <span>max&#64;wirnsberger.io</span>
            <div class="rightSideEndOfFooter">
              <a href="https://github.com/MaxWirnsberger">
                <img src="./../../../assets/imgs/footer/Github.png" alt="" />
              </a>
              <a href="mailto:max@wirnsberger.io">
                <img src="./../../../assets/imgs/footer/Email.png" alt="" />
              </a>
              <a href="https://www.linkedin.com/in/maximilian-wirnsberger/">
                <img src="./../../../assets/imgs/footer/Linkedin.png" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="legalNotice">
      <div>
        <a (click)="scrollToTop()" [routerLink]="['imprint']">Legal notice</a>
      </div>
    </div>
  </div>
</div>
