.footerContainer {
  clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 100%);
  background-color: black;
  color: white;

  .footerContent {
    color: white;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
      max-width: 1440px;
      width: 100%;

      > h2 {
        font-weight: 800;
        font-size: 78px;
      }
    }
  }
}

.footerForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  > h3 {
    color: #5988ff;
    font-weight: 700;
    font-size: 32px;
  }

  > span {
    font-weight: 400;
    font-size: 23px;
  }

  > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;

    .textFields {
      display: flex;
      align-items: center;
      position: relative;

      > label {
        position: absolute;
        top: 15px;
        left: 15px;
        background-color: black;
        transition: 0.25s;
      }

      > textarea {
        height: 350px !important;
      }
    }

    .inputFields {
      height: 25px;
      background-color: black;
      min-width: 617px;
      font-size: 16px;
      font-weight: 400;
      font-family: "Syne";
      color: white;
      padding: 15px;
      border: none;
      box-shadow: 0 2px #f8f8ee !important;
      transition: 0.25s;

      &:hover {
        border: 4px solid white;
        box-shadow: none;
      }

      &:focus-visible {
        border: 4px solid white;
        box-shadow: none;
        outline: none;
      }

      &:focus ~ label,
      &:not(:placeholder-shown) ~ label {
        top: -10px;
        left: 7px;
      }
    }

    > button {
      margin-top: 65px;
      padding: 20px 60px 20px 60px;
      background-color: black;
      border: 4px solid #bbbbbb;
      color: #bbbbbb;
      font-size: 23px;
      font-weight: 400;
      opacity: 0.3;
      cursor: pointer;
      transition: 0.25s;

      &:hover {
        opacity: 1;
        border: 4px solid white;
        color: white;
      }
    }
  }
}

.endOfFooter {
  color: white;
  padding-top: 34px;
  display: flex;
  align-items: center;
  justify-content: center;

  .endOfFooterContent {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    padding: 0 16px 0 16px;

    .leftSideEndOfFooter {
      display: flex;
      flex-direction: column;

      > img {
        width: 120px;
      }

      > span {
        font-weight: 400;
        font-size: 23px;
      }
    }

    .rightSideEndOfFooter {
      display: flex;
      gap: 42px;

      > a {
        transition: 0.25s;
        > img {
          height: 40px;
          width: 40px;
        }
        &:hover {
          transform: translateY(-15px);
        }
      }
    }
  }
}

.legalNotice {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 50px;
  padding-right: 16px;

  > div {
    display: flex;
    justify-content: end;
    max-width: 1440px;
    width: 100%;

    > a {
      text-decoration: none;
      position: relative;
      color: white;
      font-weight: 400;
      font-size: 16px;

      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 20px;
        transition: 0.25s;
      }

      &:hover::before {
        border-bottom: 1px solid white;
        width: 85px;
        right: 0px;
      }
    }
  }
}

.footerArrowUp {
  display: flex;
  justify-content: end;
  width: 100%;
  transition: 0.25s;

  &:hover {
    transform: translateY(-15px);
  }
}

.checkbox {
  > label {
    > a {
      text-decoration: none;
      color: #5988ff;
      transition: 1s;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1000px) {
  .footerContainer {
    clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%);
  }
}

@media (max-width: 700px) {
  .footerForm {
    > form {
      .inputFields {
        min-width: 500px;
      }
    }
  }
}

@media (max-width: 580px) {
  .footerForm {
    > form {
      .inputFields {
        min-width: 450px;
      }
      .checkbox {
        text-align: center;
      }
    }
  }

  .endOfFooter {
    .endOfFooterContent {
      flex-direction: column-reverse;
      align-items: center;
      gap: 20px;
      .leftSideEndOfFooter {
        align-items: center;
        gap: 20px;
      }
    }
  }

  .footerArrowUp {
    display: none;
  }

  .legalNotice {
    > div {
      justify-content: center;
    }
  }
}

@media (max-width: 500px) {
  .footerForm {
    > form {
      .inputFields {
        min-width: 400px;
      }
    }
  }
}

@media (max-width: 450px) {
  .footerForm {
    > form {
      .inputFields {
        min-width: 300px;
      }
    }
  }
}

@media (max-width: 360px) {
  .footerForm {
    > form {
      .inputFields {
        min-width: 250px;
      }
    }
  }
}

.footerForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  > h3 {
    color: #5988ff;
    font-weight: 700;
    font-size: 32px;
  }

  > span {
    font-weight: 400;
    font-size: 23px;
  }

  > form {
    > button {
      padding: 10px 30px 10px 30px;
    }
  }
}
