<div class="footerContainer">
  <div class="footerContent">
    <div>
      <h2>Say Hi!</h2>
    </div>
    <div class="footerForm">
      <h3>Want to discuss a new project?</h3>
      <span> Say hello! let's discuss your ideas and make it happen </span>
      <form
        action="https://formspree.io/f/mkndojaz"
        method="POST"
        onsubmit="sendMail()"
      >
        <div class="textFields">
          <input
            class="inputFields"
            type="text"
            id="nameId"
            name="name"
            required
          />
          <label for="nameId">Your name</label>
        </div>
        <div class="textFields">
          <input
            class="inputFields"
            type="email"
            id="emailId"
            name="email"
            required
          />
          <label for="emailId">Your email</label>
        </div>
        <div class="textFields">
          <textarea
            class="inputFields"
            name="message"
            id="textId"
            cols="30"
            rows="10"
            required
          ></textarea>
          <label for="textId">Your message</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="checkbox" required />
          <label for="checkbox">
            I've read the
            <a (click)="scrollToTop()" [routerLink]="['privacyPolicy']"
              >privacy policy</a
            >
            and agree to the processing of my data as outlined
          </label>
        </div>
        <button>Send message</button>
      </form>
      <div class="footerArrowUp">
        <a href="#hero"
          ><img src="./../../../assets/imgs/footer/arrow1_footer.png" alt=""
        /></a>
      </div>
    </div>
  </div>

  <div class="endOfFooter">
    <div class="endOfFooterContent">
      <div class="leftSideEndOfFooter">
        <img src="./../../../assets/imgs/footer/footerLogo.png" alt="" />
        <span>&copy; Max Wirnsberger 2024</span>
      </div>
      <div class="rightSideEndOfFooter">
        <a href="https://github.com/MaxWirnsberger"
          ><img src="./../../../assets/imgs/footer/Github.png" alt=""
        /></a>
        <a href="mailto:max@wirnsberger.io"
          ><img src="./../../../assets/imgs/footer/Email.png" alt=""
        /></a>
        <a href="https://www.linkedin.com/in/maximilian-wirnsberger/">
          <img src="./../../../assets/imgs/footer/Linkedin.png" alt="" />
        </a>
      </div>
    </div>
  </div>
  <div class="legalNotice">
    <div>
      <a (click)="scrollToTop()" [routerLink]="['imprint']">Legal notice</a>
    </div>
  </div>
</div>
