.legalNotice{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}

.legalNoticeContent{
    max-width: 1440px;
    padding: 0 16px 0 16px;
    width: 100%;
}