<div class="legalNotice">
  <div class="legalNoticeContent">
    <div class="header">
      <h1>Legal Notice</h1>
      <div class="get-back-arrow">
      </div>
    </div>
    <div class="table-container">
      <div>
        <h1 class="undersection-headline">Imprint</h1>
        <p class="p-distance"><b>·</b> Max Wirnsberger</p>
        <p class="p-distance"><b>·</b> Eichetstraße 40</p>
        <p class="p-distance"><b>·</b> 5071 Wals-Siezenheim</p>
      </div>
      <div>
        <h1 class="undersection-headline">Exploring the Board</h1>
        <p>Email:</p>
      </div>
      <div>
        <h1 class="undersection-headline">Acceptance of terms</h1>
        <p>
          By accessing and using <a class="span-join">Join</a> (Product), you
          acknowledge and agree to the following terms and conditions, and any
          policies, guidelines, or amendments thereto that may be presented to
          you from time to time. We, the listed students, may update or
          changethe terms and conditions from time to time without notice.
        </p>
      </div>
      <div>
        <h1 class="undersection-headline">
          Scope and ownership of the product
        </h1>
        <p>
          <a class="span-join">Join</a> has been developed as part of a student
          group project in a web development bootcamp at the
          <a class="span-join">Developer Akademie GmbH</a>.It has an educational
          purpose and is not intended for extensive personal & business usage.
          As such, we cannot guarantee consistent availibillity, reliabillity,
          accuracy, or any other aspect of quality regarding this Product.
        </p>
        <p>
          The design of <a class="span-join">Join</a> is owned by
          <a class="span-join">Developer Akademie GmbH</a>. Unauthorized use,
          reproduction, modification, distribution, or replication of the design
          is strictly prohibited.
        </p>
      </div>
      <div>
        <h1 class="undersection-headline">Proprietary rights</h1>
        <p>
          Aside from the design owned by
          <a class="span-join">Developer Akademie GmbH</a>, we, the listed
          students, retain all proprietary rights in
          <a class="span-join">Join</a>, including any associated copyright
          material, trademarks, and pther proprietary information.
        </p>
      </div>
      <div>
        <h1 class="undersection-headline">Use of the product</h1>
        <p>
          <a class="span-join">Join</a> is intended to be used for lawful
          purposes only, in accordance with all applicable öaws and regulations.
          Any use of <a class="span-join">Join</a> for illegal activities, or to
          harass, harm, threaten, or intimidate another person, is strictly
          prohibited, You are solely responsible for your interactions with
          other users of <a class="span-join">Join</a>.
        </p>
      </div>
      <div>
        <h1 class="undersection-headline">
          Disclaimer of warranties and limitation of liability
        </h1>
        <p>
          <a class="span-join">Join</a> is provided "as is" without warranty of
          any kind, whether express or implied, including but not limited to the
          implied warranties of merchantabillity, fitness for a particular
          purpose, and non-infringement. In no event will we, the listed
          students, or the <a class="span-join">Developer Akademie</a>, be
          liable for any direct, indirect, incidental, special, consequential or
          exemplary damages, including but not limited to, damges for loss of
          profits, goodwill, use, data, or other intangible losses, even if we
          have been advised of the possibility of such damages, arising out of
          or in connection with the use or performance of
          <a class="span-join">Join</a>.
        </p>
      </div>
      <div>
        <h1 class="undersection-headline">Indemnity</h1>
        <p>
          You agree to indemnify, defend and hold harmless us, the listed
          students, the <a class="span-join">Developer Akademie</a>, and our
          affiliates, partners, officers, directors, agents and employees, from
          and against any claim, demand, loss, damage, cost, or liabillity
          (including reasonable legal fees) arising out of pr relating to your
          use of <a class="span-join">Join</a> and/or your breach of this Legal
          Notice.
        </p>
        <p>For any questions or notices, please contact us at EMAIL</p>
        <p>Date: December 17, 2023</p>
      </div>
    </div>
  </div>
</div>
