<div class="rightImgProject" id="rightImgProject">
  <div class="projectText">
    <div class="projectContent">
      <h3 class="projectTitle">Simple CRM</h3>
      <span class="projectSkill">Angular | Firebase</span>
      <span class="projectDescription">
        A very Simple Customer Relationship Management system working with CRUD
        functionality.
      </span>
      <div class="projectButtons">
        <a>GitHub</a>
      </div>
    </div>
  </div>
  <div class="projectImg">
    <img class="imgProject" src="./../../../assets/imgs/projects/simpleCRM.png" alt="" />
    <img
      class="arrowProject"
      src="./../../../assets/imgs/projects/rightArrowProject.png"
      alt=""
    />
  </div>
  <h3 class="projectCounter">04/04</h3>
</div>
