<div class="footerContainer">
  <div class="footerContent">
    <div>
      <h2>Say Hi!</h2>
    </div>
    <div class="footerForm">
      <h3>Want to discuss a new project?</h3>
      <span> Say hello! let's discuss your ideas and make it happen </span>
      <form action="">
        <input class="inputFields" type="text" placeholder="Your name" />
        <input class="inputFields" type="text" placeholder="Your email"/>
        <textarea class="inputFields" name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
        <span
          >I've read the <a href="">privacy policy</a>and agree to the
          processing of my data as outlined</span
        >
        <button>Send message</button>
      </form>
      <div class="footerArrowUp">
        <a href=""><img src="./../../../assets/imgs/footer/arrow1_footer.png" alt="" /></a>
      </div>
    </div>
  </div>

  <div class="endOfFooter">
    <div class="endOfFooterContent">
      <div class="leftSideEndOfFooter">
        <img src="./../../../assets/imgs/footer/footerLogo.png" alt="" />
        <span>&copy; Max Wirnsberger 2024</span>
      </div>
      <div class="rightSideEndOfFooter">
        <img src="./../../../assets/imgs/footer/Github.png" alt="" />
        <img src="./../../../assets/imgs/footer/Email.png" alt="" />
        <img src="./../../../assets/imgs/footer/Linkedin.png" alt="" />
      </div>
    </div>
  </div>
  <div class="legalNotice">
    <div>
      <a href="">Legal notice</a>
    </div>
  </div>
</div>
